.ia__memory {
  width: 412px;
  color: #353c52; 
  font-family: Asap, 'Segoe UI', 'Helvetica', 'Droid Sans', sans-serif;
}

.ia__memory__container {
  width: 398px;
  padding: 6px;
  background-color: rgb(243, 243, 243);
  border: solid 1px #353c52;
  border-radius: 12px;
}

.ia__memory__card {
  display: inline-block;
  width: 84px;
  height: 96px;
  margin: 6px;
  background-color: #5c6f84;
  border-radius: 12px;

  cursor: pointer;
}

.ia__memory__img {
  border-radius: 12px;
  display: none;
}

.ia__memory__clicked .ia__memory__img, 
.ia__memory__found .ia__memory__img {
  display: inline-block;
}

.ia__memory__lap__counter {
  border: solid 1px #353c52;
  border-radius: 12px;
  padding: 6px;
  float: right;
}

/**********************************************
  END GAME AND RESTART
***********************************************/

.ia__memory__end__game__background {
  position: absolute;
  top: 0;

  width: 412px;
  height: 447px;
  background-color: #353c527c;
  border-radius: 12px;
  margin-top: 6px;
  margin-bottom: -6px;

  display: none;
  justify-content: center;
  align-items: center;
}

.ia__memory__end__game__container {
  width: 206px;
  height: 206px;
  border: solid 2px #353c52;
  border-radius: 12px;
  background-color: #fff;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.ia__memory__result {
  text-align: center;
}

.ia__memory__restart {
  color: #353c52;
  text-align: center;
  text-decoration: none;
  border: solid 2px #353c52;
  border-radius: 12px;
  background-color: #5c6f845b;
  padding: 7px;
  margin: 0 50px;
}